<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<!-- Head -->
	{% block head %}
		{% block prenorth %}{% endblock %}

		<!-- North -->
		{% block north %}
			{% include "core/__north.html" %}
		{% endblock %}

		{% block postnorth %}{% endblock %}
	{% endlock %}
</head>

<body>
{% block body %}
{% endblock body %}

{% block presouth %}{% endblock %}

<!-- South -->
{% block south %}
	{% include "core/__south.html" %}
{% endblock %}

{% block postsouth %}{% endblock %}
</body>
</html>