{% block north_head %}
<title>{% block title %}{% if page.title %}{{ page.title }}{% else %}{% if title %}{{ title }}{% endif %}{% endif %}{% endblock title %}</title>

<!-- Stylesheets -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Satisfy">
<link rel="stylesheet" href="{{ asset.style('main', 'compiled') }}">

{% if page.ie %}
<!-- IE Fixes -->
<link rel="stylesheet" href="{{ asset.style('ie', 'compiled') }}">
{% endif %}

{% if page.mobile %}
<!-- Mobile -->
<link rel='stylesheet' href="{{ asset.style('mobile', 'compiled') }}">
{% endif %}
{% endblock %}