<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ asset.script('jquery', 'core') }}"><\/script>')</script>

<!-- Base Scripts -->
<script src="{{ asset.script('base', 'apptools') }}"></script>
<script src="{{ asset.script('modernizr', 'core') }}"></script>
<script src="{{ asset.script('storage', 'apptools') }}"></script>
<script src="{{ asset.script('rpc', 'apptools') }}"></script>

<!-- Project Scripts -->
<script src="{{ asset.script('base', 'apptools') }}"></script>

{% if page.analytics %}
<script>
	{% include "snippets/google_analytics.js" %}
</script>
{% endif %}