<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ asset.script('jquery', 'core') }}"><\/script>')</script>

<!-- Core Scripts -->
<script src="{{ asset.script('modernizr', 'core') }}"></script>
<script src="{{ asset.script('underscore', 'core') }}"></script>
<script src="{{ asset.script('backbone', 'core') }}"></script>
<script src="{{ asset.script('lawnchair', 'core') }}"></script>

<!-- Base Scripts -->
<script src="/_ah/channel/jsapi"></script>
{%- if util.api.users.is_current_user_admin() -%}
<script src="{{ asset.script('admin', 'apptools') }}"></script> {# include admin tools if the user is logged in and is an app admin #}
{%- else -%}
<script src="{{ asset.script('base', 'apptools') }}"></script>
{%- endif -%}

{# <!-- Project Scripts --> #}


{# <!-- Services Manifest --> #}
{%- if page.services or page.analytics -%}
<script>
{% block page_services %}
	{%- if page.services -%}
	{% from "macros/page_object.js" import build_page_object %}
	{{ build_page_object(page.services.services_manifest, page.services.config, page) }}
	{%- endif -%}
{% endblock %}

{% block page_analytics %}
	{%- if not util.config.debug -%} {# // No analytics on the dev server... #}
	{%- if page.analytics -%}
		{% from "macros/page_analytics.js" import google_analytics_async %}
		{{ google_analytics_async(page.analytics) }}
	{%- endif -%}
	{%- endif -%}
{% endblock %}
</script>
{%- endif -%}