{% extends "core/base_web.html" %}

{% block main %}

<div id='welcome'>
	<h1>Hello, AppTools!</h1>
	
	<p id='hello'>Welcome to your AppTools-powered App Engine app.</p>

	<div id='debugtools'>
		<p><b>Service tools</b>
			<ul>
				<li class='section'><a>Service Test</a>
					<ul>
						<li>Service.HelloWorld result: <pre id='apiresponse'>Hello, {{ util.request.env.get('REMOTE_ADDR') }}!</pre></li>
					</ul>
				</li>

				<li class='section'><a>Configured Services</a>
					<ul>
						<li>Service One</li>
					</ul>
				</li>
			</ul>

		<p><b>Runtime information</b>
			<ul>
				<li class='section'><a>Application</a>
					<ul>
						<li>Name: {{ util.config.project.name }}</li>
						<li>Version: {{ util.config.project.version.major }}.{{ util.config.project.version.minor }}.{{ util.config.project.version.micro }} {{ util.config.project.version.build }}</li>
						<li>Debug Mode: {% if util.config.debug %}<span style='color: green'>{% else %}<span style='color: red'>{% endif %}{{ util.config.debug }}</span></li>
					</ul>
				</li>
				<li class='section'><a>Request</a>
					<ul>
						<li>Hash: {{ util.request.hash }}</li>
						<li>Namespace: {{ util.request.namespace }}</li>
						<li>Datacenter: {{ util.appengine.datacenter }}</li>
						<li>Instance: {{ util.appengine.instance }}</li>
						<li>Backend: {{ util.appengine.backend }}</li>
					</ul>
				</li>
			</ul>
		</p>
	</div>
</div>
{% endblock %}

{#{% block postsouth %}
<script>

$(document).ready(function (){
	
	apptools.rpc.call('system.test', {name: "{{ util.request.env.get('REMOTE_ADDR') }}"}, function rpcCallback(response){
		
		$('#apiresponse').text(response.message);
		
	}, function rpcError(error){
		
		alert('There was an rpc error. See the console for details.');
		console.log('RPC Error: ', error);
		
	});
	
});

</script>
{% endblock %}#}