@import "compass/utilities/sprites/sprite-img"

body
	font: 80% Verdana, sans-serif

h1
	font: 52pt 'Satisfy', cursive
	width: 100%
	text-align: center
	padding-top: 25px

p
	margin: 15px 0
	padding: 5px 0

#main
	position: absolute
	top: 0
	left: 0
	bottom: 0
	right: 0

#welcome
	background: #999
	width: 35em
	margin: 0 auto
	padding: 0 0 .5em 1em
	border-radius: 15px
	
	#hello
		text-align: center
		background: #66CCFF
		border-radius: 10px
		width: 390px
		margin-left: auto
		margin-right: auto
	
#debugtools
	
	ul
	
		li.section
		
			padding-top: 3px
			padding-bottom: 3px
			margin-top: 3px
			margin-right: 3em			
			margin-bottom: 3px
			list-style: none
			background: #DDD
						
			a
				
				font-size: 90%
				padding-left: 10px
			
				&.openclose
					padding-left: 20px
					
					&.opened
						background: #DDD url('/assets/img/static/icons/toggle-minus.png') no-repeat left bottom
					
					&.closed
						background: #BBB url('/assets/img/static/icons/toggle-plus.png') no-repeat left bottom
